---
---

@import "{{ site.theme }}";

html {
  background: #d8d8d8;
  font-size: 14px;
  font-weight: 300;
  color: #333;
  background: url(../../img/background-3.jpg);
  border-bottom: 1px dotted #989281;
}

html:hover {
  color: #5a5a62;
  border-bottom: 1px dotted #5a5a62;
}

